/******************************************************************************
 * Display
*******************************************************************************/
.-exp {
    padding-bottom: $padding-1;
    padding-top: $padding-1;
    }
.-exp0 {
    padding-bottom: 40px;
    padding-top: 40px;
    }
.-expt {
    padding-top: $padding-1;
    }
.-expb {
    padding-bottom: $padding-1;
    }
.-exp2 {
    padding-bottom: $expander-1;
    padding-top: $expander-1;
    }
.-exp3 {
    padding-bottom: $expander-2;
    padding-top: $expander-2;
    }
.-wrap {
    padding-left: $padding-1;
    padding-right: $padding-1;

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
    }
}
.-wraph {
    padding-left: $padding-1 / 2;
    padding-right: $padding-1 / 2;
}
.-wrapl {
    padding-left: $padding-1;

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding;
    }
}
.-wrapr {
    padding-right: $padding-1;

    @include respond( $mobile-breakpoint ) {
        padding-right: $mobile-padding;
    }
}
.-paddr {
    padding-right: 24vw;

    @include respond( $mobile-breakpoint ) {
        padding-right: $mobile-padding * 2;
    }
}
.-paddr2 {
    padding-right: 16vw;

    @include respond( $mobile-breakpoint ) {
        padding-right: $mobile-padding * 2;
    }
}
.-full {
    width: 100%;
    }
.-tall {
    height: 100%;
    }
.-block {
    display: block;
    }
.-square {
    padding-bottom: 100%;
    }
.-bump {
    margin-top: 10px;
    }
.-bump2 {
    margin-top: 20px;
    }
.-bump3 {
    margin-top: 30px;
    }
.-bump4 {
    margin-top: 40px;
}
.-bump5 {
    margin-top: 50px;
}
.-bump6 {
    margin-top: 60px;
    }
.-push {
    margin-left: $padding-1 / 2;
    }
.-pagepad {
    padding-top: $page-padding;

    @include respond-min( $mobile-breakpoint ) {
        padding-top: $page-padding-2;
    }
}
.-hr {
    background-color: $black;
    height: 1px;
    margin-bottom: $padding-1;
    margin-top: $padding-1;
    }
.-northborder {
    border-top: 1px solid $grey2;
    padding-top: 30px;
    }
.-fpo {
    background-color: $red;
    color: $white;
    padding-bottom: $padding-1;
    padding-left: $padding-1;
    padding-right: $padding-1;
    padding-top: $padding-1;
    }
.-plusline {
    span {
        border-bottom: 1px solid $red;
        }
}
.-rel {
    position: relative;
}



/******************************************************************************
 * Columns
*******************************************************************************/
.-column {
    display: inline-block;
    vertical-align: middle;
    }
.-column--1of5 { width: 20%; }
.-column--1of4 { width: 25%; }
.-column--1of3 { width: 33.33333%; }
.-column--2of5 { width: 40%; }
.-column--2of4 { width: 50%; }
.-column--3of5 { width: 60%; }
.-column--2of3 { width: 66.66666%; }
.-column--3of4 { width: 75%; }
.-column--4of5 { width: 80%; }
.-vtop {
    vertical-align: top;
    }
.-vbot {
    vertical-align: bottom;
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-caps {
    text-transform: uppercase;
    }
.-curse {
    cursor: pointer;
    }
.-mast {
    position: relative;

    &:after {
        background-color: $black;
        content: "";
        display: block;
        height: 6px;
        margin-top: 30px;
        width: 36px;

        @include respond( $mobile-breakpoint ) {
            height: 4px;
            margin-top: $padding-1 / 2;
        }
    }

    &.-light:after {
        background-color: $white;
    }
}
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-dark {
    color: $black;
    }
.-light {
    color: $white;
    }
.-grey {
    color: $grey;
    }
.-grey2 {
    color: $grey2;
    }
.-color {
    color: $red;
    }
.-color2 {
    color: $red3;
    }
.-bgcolor {
    background-color: $red;
    }
.-bgblack {
    background-color: $black;
    }
.-bggrey {
    background-color: $grey3;
    }
.-fzero {
    font-size: 0;
    }
.-fregular {
    @include font-family-regular();
    }
.-fmedium {
    @include font-family-medium();
    }
.-fbold {
    @include font-family-bold();
    }
.-flight {
    @include font-family-light();
    }
.-fthin {
    @include font-family-thin();
    }
