/******************************************************************************
 * Display
*******************************************************************************/
.-exp {
    padding-bottom: $padding-1;
    padding-top: $padding-1;
    }
.-expt {
    padding-top: $padding-1;
    }
.-expb {
    padding-bottom: $padding-1;
    }
.-exp2 {
    padding-bottom: $expander-1;
    padding-top: $expander-1;
    }
.-exp3 {
    padding-bottom: $expander-2;
    padding-top: $expander-2;
    }
.-wrap {
    padding-left: $padding-1;
    padding-right: $padding-1;
    }
.-wrapl {
    padding-left: $padding-1;
    }
.-wrapr {
    padding-right: $padding-1;
    }
.-vtop {
    vertical-align: top;
    }
.-vbot {
    vertical-align: bottom;
    }
.-full {
    width: 100%;
    }
.-tall {
    height: 100%;
    }
.-block {
    display: block;
    }
.-square {
    padding-bottom: 100%;
    }
.-bump {
    margin-top: 10px;
    }
.-bump2 {
    margin-top: 20px;
    }
.-bump3 {
    margin-top: 30px;
    }
.-bump4 {
    margin-top: 40px;
}
.-bump5 {
    margin-top: 50px;
}
.-bump6 {
    margin-top: 60px;
    }
.-push {
    margin-left: $padding-1 / 2;
    }
.-pagepad {
    padding-top: $page-padding;

    @include respond-min( $mobile-breakpoint ) {
        padding-top: $page-padding-2;
    }
}
.-hr {
    background-color: $black;
    height: 1px;
    margin-bottom: $padding-1;
    margin-top: $padding-1;
    }
.-fpo {
    background-color: $red;
    color: $white;
    padding-bottom: $padding-1;
    padding-left: $padding-1;
    padding-right: $padding-1;
    padding-top: $padding-1;
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-caps {
    text-transform: uppercase;
    }
.-curse {
    cursor: pointer;
    }
.-mast {
    position: relative;

    &:after {
        background-color: $black;
        content: "";
        display: block;
        height: 6px;
        margin-top: 30px;
        width: 36px;
        }
}
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-dark {
    color: $black;
    }
.-light {
    color: $white;
    }
.-grey {
    color: $grey;
    }
.-grey2 {
    color: $grey2;
    }
.-color {
    color: $red;
    }
.-color2 {
    color: $red3;
    }
.-bgcolor {
    background-color: $red;
    }
.-bgblack {
    background-color: $black;
    }
.-bggrey {
    background-color: $grey3;
    }
.-fzero {
    font-size: 0;
    }
.-fregular {
    @include font-family-regular();
    }
.-fmedium {
    @include font-family-medium();
    }
.-fbold {
    @include font-family-bold();
    }
.-flight {
    @include font-family-light();
    }
.-fthin {
    @include font-family-thin();
    }
