/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p,
.sqs-block p {
    @include p();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $p-size-3;
    }

    i,
    em {
        @include em();
        }
    b,
    strong {
        @include font-family-bold();
        }
}
.li,
.cms li,
.sqs-block li {
    @include li();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $p-size-3;
    }

    i,
    em {
        @include em();
        }
    b,
    strong {
        @include font-family-bold();
        }
}
.ol .li,
.cms ol li,
.sqs-block ol li {
    @include ol-li();
    }
.ul .li,
.cms ul li,
.sqs-block ul li {
    @include ul-li();
    }
.m,
.m p,
.footer .sqs-block p {
    @include m();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size-3;
    }
}
.mp,
.mp p {
    @include font-family-regular();

    strong {
        @include font-family-bold();
        }
}
.m--static {
    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size;
    }
}


/******************************************************************************
 * Links
*******************************************************************************/
.a,
.cms a {
    @include a();
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1,
.sqs-block h1 {
    @include h1();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h1-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h1-size-3;
    }
}
.h2,
.cms h2,
.sqs-block h2 {
    @include h2();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h2-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h2-size-3;
    }
}
.h3,
.cms h3,
.sqs-block h3 {
    @include h3();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h3-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h3-size-3;
    }
}
.h4,
.cms h4,
.grid__desc h3 {
    @include h4();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h4-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h4-size-3;
    }
}


/******************************************************************************
 * Quotes
*******************************************************************************/
.sqs-block-html {
    blockquote {
        @include h4();
        @include font-family-medium();

        &:before {
            content: "\201C";
            margin-left: -10px;
        }
        &:after {
            content: "\201D";
        }
    }
}
.quo {}
.quo__src {
    color: $red;
    }
.quo__txt {
    @include quo();
    margin-top: $meta-bump !important;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $quo-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $quo-size-3;
    }

    &:after {
        @include font-family-bold();
        color: $red4;
        content: "\201C \201D";
        display: block;
        font-size: $quo-quos;
        margin-top: 20px;
        line-height: 1;

        @include respond-min( $mobile-breakpoint ) {
            font-size: $quo-quos-2;
        };

        @include respond-min( $desktop-breakpoint ) {
            font-size: $quo-quos-3;
        }
    }
}
