/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p {
    @include p();

    a {
        border-bottom: 1px solid inherit;
        }
    em {
        @include em();
        }
    b,
    strong {
        @include font-family-bold();
        }
    }
.li,
.cms li {
    @include li();
    }
.ol .li,
.cms ol li {
    @include ol-li();
    }
.ul .li,
.cms ul li {
    @include ul-li();
    }
.m {
    @include m();
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a,
.cms a {
    @include a();
    }


/******************************************************************************
 * Headlines / Quotes
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
    }
.h2,
.cms h2 {
    @include h2();
    }
.h3,
.cms h3 {
    @include h3();
    }
.h4,
.cms h4 {
    @include h4();
    }
.quo {}
.quo__src {
    color: $red;
    }
.quo__txt {
    @include quo();
    margin-top: 20px !important;

    &:after {
        @include h1();
        color: $red4;
        content: "\201C \201D";
        display: block;
        margin-top: 20px;
    }
}
