/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p,
.sqs-block p {
    @include p();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $p-size-3;
    }
}
.li,
.cms li,
.sqs-block li {
    @include li();
}
.ol .li,
.cms ol li,
.sqs-block ol li {
    @include ol-li();
    }
.ul .li,
.cms ul li,
.sqs-block ul li {
    @include ul-li();
}
.m,
.m p,
.footer .sqs-block p,
.stats__label p {
    @include m();
}
.mp,
.mp p {
    @include font-family-regular();

    strong {
        @include font-family-bold();
        }
}
.m--static {
    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size;
    }
}
.m--bump {
    margin-bottom: $meta-bump;
}


/******************************************************************************
 * Links
*******************************************************************************/
.a,
.cms a {
    @include a();
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1,
.sqs-block h1 {
    @include h1();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h1-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h1-size-3;
    }
}
.h2,
.cms h2,
.sqs-block h2 {
    @include h2();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h2-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h2-size-3;
    }
}
.cms--alt h2 {
    a {
        color: $red;
        position: relative;
        transition: color $base-duration $ease;

        &:after {
            background-color: $black;
            bottom: -5px;
            content: "";
            height: 3px;
            position: absolute;
            right: 0;
            transition: width $base-duration $ease;
            width: 0;
        }
    }

    @include respond-min( $mobile-breakpoint ) {
        a {
            &:after {
                height: 5px;
            }
        }
    };
}
.h3,
.cms h3,
.sqs-block h3 {
    @include h3();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h3-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h3-size-3;
    }
}
.h4,
.cms h4,
.grid__desc h3 {
    @include h4();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h4-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h4-size-3;
    }
}


/******************************************************************************
 * Quotes
*******************************************************************************/
.sqs-block-html {
    blockquote {
        @include h4();
        @include font-family-medium();

        &:before {
            content: "\201C";
            margin-left: -10px;
        }
        &:after {
            content: "\201D";
        }
    }
}
.quo {}
.quo__src {
    color: $red;
    }
.quo__txt {
    @include quo();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $quo-size-2;
    };

    @include respond-min( $desktop-breakpoint ) {
        font-size: $quo-size-3;
    }

    &:after {
        @include font-family-bold();
        color: $red4;
        content: "\201C \201D";
        display: block;
        font-size: $quo-quos;
        margin-top: 20px;
        line-height: 1;

        @include respond-min( $mobile-breakpoint ) {
            font-size: $quo-quos-2;
        };

        @include respond-min( $desktop-breakpoint ) {
            font-size: $quo-quos-3;
        }
    }
}
