/******************************************************************************
 * Squarespace Block Spacing
*******************************************************************************/

// Layout
.sqs-layout > .sqs-row {
    margin: 0 !important;
    }

// Grid
[class*=sqs-col] {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    }

// Blocks
.sqs-block {
    padding: 0 !important;
    }
.sqs-block-image {
    img {
        display: inline-block !important;
    }
}

// Editor
body.sqs-edit-mode .sqs-layout[data-type="block-field"].empty {
    min-height: 200px !important;
    min-width: 200px !important;
    outline: 1px solid $red;
}
.sqs-frontend-overlay-editor-widget-buttons-wrapper {
    background: $red !important;
    left: 0 !important;
    position: absolute !important;
}
.sqs-frontend-overlay-editor-widget-buttons-wrapper .sqs-button-vanilla {
    background: $red !important;

    &:hover {
        background: $red2 !important;
    }
}

// Gallery arrow controls
.sqs-gallery-controls .previous,
.sqs-gallery-controls .next {
    background: none !important;
    border: 2px solid $white !important;
    border-radius: 42px !important;
    height: 42px !important;
    margin-top: 0 !important;
    padding: 0 !important;
    width: 42px !important;

    &:before {
        font-weight: bold;
        left: 50% !important;
        position: absolute !important;
        top: 50% !important;
        transform: translateX( -50% ) translateY( -50% ) !important;

        @include respond( $mobile-breakpoint-small ) {
            font-size: 14px;
        }
    }

    @include respond( $mobile-breakpoint-small ) {
        border-radius: 30px !important;
        height: 30px !important;
        width: 30px !important;
    }
}
.sqs-gallery-controls .next {
    transform: translateY( -50% ) translateX( -30px ) !important;

    @include respond( $mobile-breakpoint-small ) {
        transform: translateY( -50% ) translateX( -10px ) !important;
    }
}
.sqs-gallery-controls .previous {
    transform: translateY( -50% ) translateX( 30px ) !important;

    @include respond( $mobile-breakpoint-small ) {
        transform: translateY( -50% ) translateX( 10px ) !important;
    }
}



/******************************************************************************
 * Squarespace block-field elements
*******************************************************************************/
#module-home-quote {
    padding-bottom: $padding-1;
}
.sqs-gallery-block-stacked .image-wrapper {
    line-height: 0;
    margin: 0;

    & + .image-wrapper {
        padding-top: $padding-1;
        }
}
