/******************************************************************************
 * Squarespace Block Spacing
*******************************************************************************/

// Layout
.sqs-layout > .sqs-row {
    margin: 0 !important;
    }

// Grid
[class*=sqs-col] {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    }

// Blocks
.sqs-block {
    padding: 0 !important;
    }
