/******************************************************************************
 * Who We Are — Attributes element
*******************************************************************************/
.attrs {
    .sqs-block-horizontalrule hr {
        background-color: $white;
        color: $white;
        margin: ($padding-1 / 2) 0;
        }
}
.attrs__group {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.attrs__attr {
    position: relative;
    width: 25%;
    display: flex;
    align-items: flex-start;
    padding-left: 25px;

    .sqs-layout {
        display: inline-block;
    }

    @include respond( $break-ipad-pro-width ) {
        width: 45%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }

    & + .attrs__attr:nth-child( n+3 ) {
        @include respond( $break-ipad-pro-width ) {
            margin-top: $padding-1;
        }
    }

    & + .attrs__attr {
        @include respond( $mobile-breakpoint ) {
            margin-top: $padding-1;
        }
    }
}
.attrs__num {
    padding-right: 10px;
    display: inline-block;
    margin-left: -24px;
}
