/******************************************************************************
 * Who We Are — Attributes element
*******************************************************************************/
.attrs {
    .sqs-block-horizontalrule hr {
        background-color: $white;
        color: $white;
        margin: ($padding-1 / 2) 0;
        }
}
.attrs__group {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 (-$padding-1);

    @include respond( $mobile-breakpoint ) {
        margin: 0;
    }
}
.attrs__attr {
    box-sizing: content-box;
    padding: 0 $padding-1;
    position: relative;
    width: 15vw;
    display: flex;
    align-items: flex-start;

    .sqs-layout {
        display: inline-block;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }

    & + .attrs__attr {
        @include respond( $mobile-breakpoint ) {
            margin-top: $padding-1;
        }
    }
}
.attrs__num {
    padding-right: 10px;
    padding-top: 5px;
    display: inline-block;
    margin-left: -24px;
}
