.footer {
    padding-bottom: $header-padding;
    padding-top: $header-padding;
    transition: transform $fast-duration $ease;

    @include state( "navi", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-medium ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }
}
.footer__social {
    text-align: right;

    @include respond( $mobile-breakpoint ) {
        padding-top: $padding-1;
        text-align: left;
    }
}
.footer__col {
    @include respond( $mobile-breakpoint ) {
        display: block;
        width: 100%;
    }
}
