.inp {
    @include inp();

    &.is-error {
        background-color: $red;
        }
    }
.inp::placeholder {
    color: $white;
    }
.inp--txt {
    height: 120px;
    }
.btn {
    @include btn();

    @include respond-min( $desktop-breakpoint ) {
        padding-left: 80px;
        padding-right: 80px;
    }

    & + .btn {
        margin-left: $padding-1 / 2;
        }
}
.btn--alt {
    border-bottom-color: $red2;
    border-left-color: $red2;
    color: $red3;
    }
.btn--light {
    border-bottom-color: $white;
    border-left-color: $white;
    color: $white;
    }
