.inp {
    @include inp();
    transition: background-color $base-duration $ease;

    &.is-error {
        background-color: $red;
        }

    @include respond( $mobile-breakpoint-navi ) {
        margin-top: 10px;
        padding: 10px;
    }
}
.inp::placeholder {
    color: $white;
    }
.inp--txt {
    height: 120px;
    }
.btn {
    @include btn();
    transition: color $base-duration $ease;

    .btn__cell {
        overflow: hidden;
        position: relative;

        div {
            padding: 5px 4.2vw 20px;
            transition: opacity $base-duration $ease,
                        transform $base-duration $ease;
        }
    }

    .btn__two {
        opacity: 0;
        position: absolute;
    }

    &:before,
    &:after {
        transform: translate3d( 0, 0, 0 );
    }

    &:before {
        background-color: $black;
        bottom: -2px;
        content: "";
        height: 0;
        left: -2px;
        position: absolute;
        transition: height $base-duration $ease;
        transition-delay: $fast-duration;
        width: 2px;
    }
    &:after {
        background-color: $black;
        bottom: -2px;
        content: "";
        height: 2px;
        position: absolute;
        right: 0;
        transition: width $base-duration $ease;
        transition-delay: 0ms;
        width: 0;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: 30px;
        padding-right: 30px;
    }

    .page__results & {
        border-bottom-color: $black;
        border-left-color: $black;

        &:before,
        &:after {
            background-color: $red;
        }
    }
}
.btn--alt {
    @include btn-alt();
    }
.btn--light {
    @include btn-lit();

    &:before,
    &:after {
        background-color: $red;
    }
}
.btn--dark {
    @include btn-blk();

    // .btn__cell {
    //     padding: 20px 30px;
    // }
}
.btn--clean {
    border-color: transparent;
    color: $grey;

    .btn__cell {
        div {
            padding-right: 0;
        }
    }

    &:before,
    &:after {
        background-color: transparent;
    }
}
.btns {}
.btns__btn {
    @include respond( $mobile-breakpoint-small ) {
        display: block;
        width: 100%;
    }

    & + .btns__btn {
        @include respond-min( $mobile-breakpoint-small ) {
            margin-left: $padding-1 / 2;
        }

        @include respond( $mobile-breakpoint-small ) {
            margin-top: $padding-1;
        }
    }
}
