.inp {
    @include inp();

    &.is-error {
        background-color: $red;
        }

    @include respond( $mobile-breakpoint-navi ) {
        margin-top: 10px !important;
        padding: 10px;
    }
}
.inp::placeholder {
    color: $white;
    }
.inp--txt {
    height: 120px;
    }
.btn {
    @include btn();

    @include respond-min( $desktop-breakpoint ) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.btn--alt {
    @include btn-alt();
    }
.btn--light {
    @include btn-lit();
    }
.btn--dark {
    @include btn-blk();
    }
.btns {}
.btns__btn {
    @include respond( $mobile-breakpoint-small ) {
        display: block;
        width: 100%;
    }

    & + .btns__btn {
        @include respond-min( $mobile-breakpoint-small ) {
            margin-left: $padding-1 / 2;
        }

        @include respond( $mobile-breakpoint-small ) {
            margin-top: $padding-1;
        }
    }
}
