/******************************************************************************
 * Alignments
*******************************************************************************/
.ghost {
    font-size: 0;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        margin-left: -1px;
        vertical-align: middle;
        width: 1px;
        }
}
.ghost__child {
    display: inline-block;
    vertical-align: middle;
    }
