.header {
    left: 0;
    padding-left: $header-padding;
    padding-right: $header-padding;
    padding-top: $header-padding;
    position: fixed;
    top: 0;
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    width: 100%;
    z-index: $z_layer_header;

    @include state( "scroll", "down" ) {
        opacity: 0;
        pointer-events: none;
    }

    @include state( "navi", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-medium ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }

    @include state( "contact", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-medium ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        padding-top: 30px;
    }
}
