.header {
    left: 0;
    padding-left: $header-padding;
    padding-right: $header-padding;
    padding-top: $header-padding;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    }
