/******************************************************************************
 * Icons
*******************************************************************************/
.icon-wrap {
    cursor: pointer;
    display: inline-block;
    margin: -20px;
    padding: 20px;
    }
.icon {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;

    span {
        display: inline-block;
        }
}
.icon--list {
    height: 12px;
    width: 25px;

    span {
        background-color: $black;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;

        @include state( "cover", "view" ) {
            background-color: $white;
        }

        &:before {
            background-color: $red;
            content: "";
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            transition: width $base-duration $ease;
            width: 0;
        }
    }

    .top {
        top: 0;

        &:before {
            transition-delay: $fast-duration;
        }
    }
    .bot {
        bottom: 0;

        &:before {
            transition-delay: 0ms;
        }
    }
}
.icon--ex {
    height: 25px;
    width: 25px;

    span {
        background-color: transparent;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;

        &:before {
            background-color: $white;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: width $base-duration $ease;
            width: 0;
        }
    }

    .ex1,
    .ex2 {
        top: 50%;
        transform: translateY( -50% );
        }
    .ex1 {
        transform: rotate( -45deg );

        &:before {
            transition-delay: $base-duration + $fast-duration;
        }
    }
    .ex2 {
        transform: rotate( 45deg );

        &:before {
            transition-delay: $base-duration;
        }
    }
}
.icon--plus {
    height: 12px;
    width: 12px;

    span {
        background-color: $white;
        left: 0;
        position: absolute;
        }

    .ex1 {
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX( -50% );
        width: 2px;
        }
    .ex2 {
        height: 2px;
        left: 0;
        top: 50%;
        transform: translateY( -50% );
        width: 100%;
        }
}
