$delay: 40;


.intro {
    background-color: $red;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform $base-duration $ease,
                visibility $base-duration $ease;
    z-index: $z_layer_intro;

    &.is-animated {
        transform: translate3d( 100%, 0, 0 );
        visibility: hidden;
    }
}
.intro__logo {
    width: 128px;

    svg {
        fill: $white;
        width: 100%;

        path {
            transition: transform $base-duration $ease;
            transform: translate3d( 0, 23px, 0 );
        }

        g.is-animated {
            path {
                transform: translate3d( 0, 0, 0 );
            }
        }

        @for $i from 1 through 6 {
            path:nth-child( #{$i} ) {
                transition-delay: #{$i * $delay}ms;
            }
        }
    }
}
.intro__nojs {
    color: $white;
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );

    .nojs & {
        display: block;
    }

    .sqs-block-horizontalrule hr {
        background-color: $white;
        color: $white;
    }
}
