.media {}
.media__node {}

.image {
    max-width: 100%;
    width: 100%;
    }

.embed {}
.embed__aspect {
    background-color: $black;
    position: relative;
    width: 100%;
    }
.embed__poster,
.embed__element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
.embed__overlay {
    transition: opacity $base-duration $ease;

    @include state( "embed", "playing" ) {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__playbtn {
    border: 2px solid $white;
    border-radius: 6.875vw;
    cursor: pointer;
    height: 6.875vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    width: 6.875vw;
    }
.embed__playbtn__label {
    left: 50%;
    letter-spacing: 5px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translate3d( -46%, -50%, 0 );
    }
.embed__filter {
    clip-path: circle( 3.4375vw at 50% 50% );
    filter: blur( 13px );
    transform: translate3d( 0, 0, 0 );
    }

.sqs-block-video {

}
