.navi {
    background-color: $red;
    color: $white;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding-bottom: $padding-1;
    position: fixed;
    top: 0;
    transform: translate3d( -100%, 0, 0 );
    transition: transform $fast-duration $ease;
    width: 50vw;
    -webkit-overflow-scrolling: touch;

    @include state( "navi", "open" ) {
        transform: translate3d( 0, 0, 0 );
    }

    @include respond( $mobile-breakpoint-navi ) {
        width: #{"~\"calc( 100vw - 65px )\""};
    }
}
.navi__header {
    left: 0;
    padding-left: $header-padding;
    padding-right: $header-padding;
    padding-top: 60px;
    position: fixed;
    top: 0;
    width: 100%;

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        padding-top: 36px;
    }
}
.navi__a {
    transition: color $base-duration $ease;

    &.is-active {
        color: $red2;
        }
}
.navi__social {
    bottom: 0;
    left: 0;
    padding-bottom: $header-padding;
    padding-left: $padding-1;
    position: fixed;
    width: 100%;

    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
        padding-top: $padding-1;
        position: relative;
    }
}

.contact {
    background-color: $black3;
    color: $white;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding-bottom: $padding-1;
    position: fixed;
    top: 0;
    transform: translate3d( -100%, 0, 0 );
    transition: transform $fast-duration $ease;
    width: 50vw;
    -webkit-overflow-scrolling: touch;

    @include state( "contact", "open" ) {
        transform: translate3d( 0, 0, 0 );
    }

    @include respond( $mobile-breakpoint-navi ) {
        padding-bottom: 110px;
        width: #{"~\"calc( 100vw - 65px )\""};
    }
}
.contact__header {
    left: 0;
    padding-left: $header-padding;
    padding-right: $header-padding;
    padding-top: 60px;
    position: fixed;
    top: 0;
    width: 100%;

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        padding-top: 36px;
    }
}
