/******************************************************************************
 * Module with label and numbered items
*******************************************************************************/
.nums {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page__stats & {
        margin: 0 (-$padding-1 / 2);

        @include respond( $mobile-breakpoint-navi ) {
            margin: 0;
        }
    }
}
.nums__item--auto {
    max-width: 25%;
    }
.nums__item--3up {
    width: 33.333333%;
    }
.nums__item--big {
    margin: ($padding-1 / 2) 0;
    width: 33.333333%;

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    &:nth-child( 4 ),
    &:nth-child( 5 ),
    &:nth-child( 6 ) {
        .page__stats & {
            @include respond( $mobile-breakpoint-navi ) {
                display: none;
            }
        }
        .page__stats.is-hit & {
            @include respond( $mobile-breakpoint-navi ) {
                display: flex;
            }
        }
    }
}
.nums__item {
    @include respond( $mobile-breakpoint-navi ) {
        margin-bottom: $mobile-padding;
        max-width: 100%;
        width: 100%;
    }

    &:first-child:not( .nums__item--lab ) {
        @include respond( $tablet-breakpoint-small ) {
            margin-bottom: 20px;
            max-width: 100%;
            width: 100%;
        }
    }

    &.is-animated {
        .page__stats & {
            hr {
                width: 100%;
            }
        }
    }

    .page__stats & {
        h1 {
            font-size: $h1-size;
            margin-bottom: 20px;

            @include respond-min( $mobile-breakpoint ) {
                font-size: $h1-size;
            };

            @include respond-min( $tablet-breakpoint ) {
                font-size: $h1-size-static;
            };

            @include respond-min( $desktop-breakpoint ) {
                font-size: $h1-size-static;
            }
        }

        p {
            strong {
                color: $red;
                margin-top: 20px;
            }
        }

        hr {
            background-color: $white;
            color: $white;
            margin: 40px 0;
            max-width: 300px;
            transition: width $base-duration $ease $base-duration;
            width: 0;

            @include respond( $mobile-breakpoint ) {
                margin: 20px 0;
            }
        }
    }
}
.nums__item--lab {
    position: relative;
    display: flex;
    align-items: flex-start;

    .page__details & {
        @include respond( $tablet-breakpoint-small ) {
            max-width: 33.333333%;
        }

        @include respond( $mobile-breakpoint-navi ) {
            max-width: 100%;
        }
    }

    .sqs-layout {
        display: inline-block;
    }

    &:before {
        content: attr( data-num );
        display: inline-block;
        padding-right: 1vw;
        @include m();
    }
}
