/******************************************************************************
 * Module with label and numbered items
*******************************************************************************/
.nums {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page__stats & {
        margin: 0 (-$padding-1 / 2);

        @include respond( $mobile-breakpoint-navi ) {
            margin: 0;
        }
    }
}
.nums__item--auto {
    max-width: 25%;
    }
.nums__item--3up {
    width: 33.333333%;
    }
.nums__item--big {
    margin: ($padding-1 / 2) 0;
    width: 33.333333%;

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }
}
.nums__item {
    @include respond( $mobile-breakpoint-navi ) {
        margin-bottom: $mobile-padding;
        max-width: 100%;
        width: 100%;
    }

    &:first-child:not( .nums__item--lab ) {
        @include respond( $tablet-breakpoint-small ) {
            margin-bottom: 20px;
            max-width: 100%;
            width: 100%;
        }
    }

    &.is-animated {
        .page__stats & {
            hr {
                width: 100%;
            }
        }
    }

    .page__stats & {
        > .sqs-layout {
            padding: 0 ($padding-1 / 2);
        }

        h1 {
            font-size: $h1-size;
            margin-bottom: 20px;

            @include respond-min( $mobile-breakpoint ) {
                font-size: $h1-size;
            };

            @include respond-min( $tablet-breakpoint ) {
                font-size: $h1-size-static;
            };

            @include respond-min( $desktop-breakpoint ) {
                font-size: $h1-size-static;
            }
        }

        p {
            strong {
                color: $red;
                margin-top: 20px;
            }
        }

        hr {
            background-color: $white;
            color: $white;
            margin: 40px 0;
            max-width: 300px;
            transition: width $base-duration $ease $base-duration;
            width: 0;
        }
    }
}
.nums__item--lab {
    position: relative;

    &:before {
        content: attr( data-num );
        display: inline-block;
        left: 0;
        padding-right: 2vw;
        position: absolute;
        top: 0;
        transform: translateX( -3vw );
        @include m();

        @include respond-min( $mobile-breakpoint ) {
            font-size: $m-size-2;
            transform: translateX( 20px );
        };

        @include respond-min( $desktop-breakpoint ) {
            font-size: $m-size-3;
        }

        .page__stats & {
            top: 10px;
            transform: none;
        }
    }
}
