/******************************************************************************
 * Who We Are — Locations element
*******************************************************************************/
.onetwo {
    .sqs-block-horizontalrule hr {
        background-color: $grey2;
        color: $grey2;
        margin: 60px 0 30px;
        }
    .sqs-block-button {
        margin-top: 60px;
        }

    @include respond( $mobile-breakpoint ) {
        flex-wrap: wrap;
        padding-right: $padding-1;
    }

    .page__wework & {
        align-items: center;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: 0;
    }
}
.onetwo__info {
    width: 40%;

    &:last-child {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-top: $mobile-padding;
        }
    }

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}
.onetwo__image {
    width: 50%;

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }

    &:last-child {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-top: $padding-1;
        }
    }
}
