/******************************************************************************
 * Page elements
*******************************************************************************/
.page {
    position: relative;
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;

    @include state( "navi", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-navi ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }

    @include state( "contact", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-navi ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }

    @include state( "page", "controller" ) {
        opacity: 0;
        pointer-events: none;
    }
}
.page__scroll {
    bottom: 0;
    left: $padding-1 * 2;
    position: absolute;
    transform: translateY( 40px );

    @include respond( $mobile-breakpoint ) {
        // left: $mobile-padding * 2;
        // transform: translateY( $mobile-padding );
        display: none;
    }
}
.page__scroll__text {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate( 90deg ) translateX( -100% ) translateY( 100% );
    }
.page__scroll__line {
    background-color: $red4;
    height: 200px;
    width: 2px;
    }
.page__modules {
    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
    }

    > .-wrap.-expt {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }
    }
}
.page__wework {
    position: relative;
    z-index: 2;
    }
.page__awards {
    overflow: hidden;
    z-index: 1;
    }


/******************************************************************************
 * Related items like on Projects and Case Studies
*******************************************************************************/
.csbutton {
    margin-bottom: $padding-1;
    }
.page__related {
    > .-wrap {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
    }
}
.related {
    position: relative;
    }
.related__label {
    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding * 2;
        padding-right: $mobile-padding * 2;
    }
}
.related__item {
    cursor: pointer;
    position: static;

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding * 2;
        padding-right: $mobile-padding * 2;
    }

    &.is-active {
        .related__info {
            transform: translate3d( $padding-1 / 2, 0, 0 );

            &:after {
                width: 180px;
            }
        }
        .related__image {
            opacity: 1;
            transform: translate3d( $padding-1, 0, 0 );
            }
    }
}
.related__casestudy {}
.related__project {}
.related__info {
    max-width: 320px;
    position: relative;
    transition: transform $fast-duration $ease;
    width: 100%;
    z-index: 2;

    &:after {
        background-color: $red;
        content: "";
        height: 2px;
        position: absolute;
        right: 0;
        top: 10px;
        transform: translateX( 100% );
        transition: width $fast-duration $ease;
        width: 0;

        @include respond( $mobile-breakpoint ) {
            display: none;
        }
    }

    @include respond( $mobile-breakpoint ) {
        max-width: 50%;
        width: 50%;
    }
}
.related__image {
    opacity: 0;
    padding-top: $expander-1;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d( $padding-1, $padding-1 / 2, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;
    width: #{"~\"calc( 100% - 320px )\""};
    z-index: 1;

    @include respond( $mobile-breakpoint ) {
        opacity: 1;
        padding-top: 0;
        position: relative;
        right: auto;
        transform: translate3d( 0, 0, 0 ) !important;
        width: 50%;
    }

    .media__node {
        max-width: 100%;
        width: auto;
        }
}



/******************************************************************************
 * Simple little columns like on Project pages
*******************************************************************************/
.cols {
    margin: 0 (-$padding-1 / 2);
    }
.cols__col {
    padding: 0 ($padding-1 / 2);
    width: 33.333333%;

    @include respond( $mobile-breakpoint-navi ) {
        margin-bottom: $mobile-padding;
        max-width: 100%;
        width: 100%;
    }
}


/******************************************************************************
 * Stats lineup as in Case studies or Who We Are...
*******************************************************************************/
.stats {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    }
.stats__col {
    text-align: center;
    }
.stats__circle {
    border: 3px solid $white;
    border-radius: 120px;
    display: inline-block;
    height: 120px;
    position: relative;
    width: 120px;

    @include respond( $mobile-breakpoint ) {
        border-radius: 100px;
        height: 100px;
        width: 100px;
    };

    h1 {
        font-size: $h2-size;

        @include respond-min( $mobile-breakpoint ) {
            font-size: $h1-size;
        };

        @include respond-min( $desktop-breakpoint ) {
            font-size: $h1-size;
        }
    }

    > .sqs-layout {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
    }
}
.stats__label {}


/******************************************************************************
 * Squarespace block-field elements
*******************************************************************************/
#module-home-about-button {
    .btn {
        @include btn-alt();
        }
}
#module-home-quote {
    padding-bottom: $padding-1;
}
.sqs-gallery-block-stacked .image-wrapper {
    line-height: 0;
    margin: 0;

    & + .image-wrapper {
        padding-top: $padding-1;
        }
}


/******************************************************************************
 * Who We Are — Attributes element
*******************************************************************************/
.attrs {
    .sqs-block-horizontalrule hr {
        background-color: $white;
        color: $white;
        margin: ($padding-1 / 2) 0;
        }
}
.attrs__group {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 (-$padding-1);
    }
.attrs__attr {
    box-sizing: content-box;
    padding: 0 $padding-1;
    position: relative;
    width: 15vw;

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }

    & + .attrs__attr {
        @include respond( $mobile-breakpoint ) {
            margin-top: $padding-1;
        }
    }
}
.attrs__num {
    position: absolute;
    left: 4vw;
    top: 14px;

    @include respond( $mobile-breakpoint ) {
        left: 2vw;
        top: 7px;
    }
}


/******************************************************************************
 * Who We Are — Locations element
*******************************************************************************/
.onetwo {
    .sqs-block-horizontalrule hr {
        background-color: $grey2;
        color: $grey2;
        margin: 60px 0 30px;
        }
    .sqs-block-button {
        margin-top: 60px;
        }

    @include respond( $mobile-breakpoint ) {
        flex-wrap: wrap;
        padding-right: $padding-1;
    }

    .page__wework & {
        align-items: center;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: 0;
    }
}
.onetwo__info {
    width: 40%;

    &:last-child {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-top: $mobile-padding;
        }
    }

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}
.onetwo__image {
    width: 60%;

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }

    &:last-child {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-top: $padding-1;
        }
    }
}


/******************************************************************************
 * Careers — Greenhouse.io jobsboard elements
*******************************************************************************/
.jobsboard {}
.jobsboard__all,
.jobsboard__one {
    visibility: hidden;

    &.is-active {
        visibility: visible;
        }
    &.is-inactive {
        display: none;
        }
    }
.jobs {}
.jobs__post {
    border-top: 1px solid $black3;
    padding: 4vw 0;
    }
.job {}
.job__cols {
    margin: 0 (-$padding-1 / 2);
    }
.job__col {
    padding: 0 ($padding-1 / 2);
    width: 33.333333%;

    & + .job__col {
        @include respond( $mobile-breakpoint ) {
            margin-top: $padding-1;
        }
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}


/******************************************************************************
 * Module with label and numbered items
*******************************************************************************/
.nums {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page__stats & {
        margin: 0 (-$padding-1 / 2);

        @include respond( $mobile-breakpoint-navi ) {
            margin: 0;
        }
    }
}
.nums__item--auto {
    max-width: 25%;
    }
.nums__item--3up {
    width: 33.333333%;
    }
.nums__item--big {
    margin: ($padding-1 / 2) 0;
    width: 33.333333%;

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }
}
.nums__item {
    @include respond( $mobile-breakpoint-navi ) {
        margin-bottom: $mobile-padding;
        max-width: 100%;
        width: 100%;
    }

    h3 {
        margin-top: 10px;
        @include h4();
        @include font-family-medium();
    }

    &:first-child:not( .nums__item--lab ) {
        @include respond( $tablet-breakpoint-small ) {
            margin-bottom: 20px;
            max-width: 100%;
            width: 100%;
        }
    }

    .page__stats & {
        h1 {
            font-size: $h1-size;
            margin-bottom: 20px;

            @include respond-min( $mobile-breakpoint ) {
                font-size: $h1-size;
            };

            @include respond-min( $tablet-breakpoint ) {
                font-size: $h1-size-static;
            };

            @include respond-min( $desktop-breakpoint ) {
                font-size: $h1-size-static;
            }
        }

        p strong {
            color: $red;
            margin-top: 20px;
        }

        > .sqs-layout {
            padding: 0 ($padding-1 / 2);
        }

        .sqs-block-horizontalrule hr {
            background-color: $white;
            color: $white;
            margin: 40px 0;
            max-width: 300px;
            }
    }
}
.nums__item--lab {
    position: relative;

    &:before {
        content: attr( data-num );
        display: inline-block;
        left: 0;
        padding-right: 2vw;
        position: absolute;
        top: 0;
        transform: translateX( -3vw );
        @include m();

        @include respond-min( $mobile-breakpoint ) {
            font-size: $m-size-2;
        };

        @include respond-min( $desktop-breakpoint ) {
            font-size: $m-size-3;
        }

        .page__stats & {
            top: 10px;
            transform: none;
        }
    }
}


/******************************************************************************
 * Filters, as in tags for Portfolio and Casestudies
*******************************************************************************/
.filters {
    overflow-x: auto;
    white-space: nowrap;
    }
.filters__item,
.filters__label {
    line-height: 1;
    }
.filters__item {
    span {
        transition: color $fast-duration $ease;
    }

    &.is-active {
        span {
            color: $red;
            }
    }

    & + .filters__item {
        &:before {
            content: "\\";
            display: inline-block;
            padding: 0 10px;
            transform: translateY( -2px );
            vertical-align: middle;
            }
    }
}


/******************************************************************************
 * Grids as in Homepage, Portfolio and Casestudies
*******************************************************************************/
.grid {
    margin: 0 -10px;
    }
.grid__item {
    overflow: hidden;
    padding: 10px;
    position: relative;
    }
.grid__item--2up {
    width: 50%;

    @include respond( $tablet-breakpoint ) {
        width: 66.666666%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}
.grid__item--4up {
    width: 25%;

    @include respond( $tablet-breakpoint ) {
        width: 33.333333%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 50%;
    }
}
.grid__item-wrap {
    position: relative;
    }
.grid__info {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    }
.grid__title {
    left: 0;
    padding: $mobile-padding 0 0 $mobile-padding;
    position: absolute;
    top: 0;
    }
.grid__cta,
.grid__meta {
    bottom: 0;
    left: 0;
    padding: 0 0 $mobile-padding $mobile-padding;
    position: absolute;
    transition: transform $fast-duration $ease,
                opacity $fast-duration $ease;
    white-space: nowrap;
    }
.grid__hover {
    background-color: rgba( 0, 0, 0, 0.5 );
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;
    z-index: 1;
    }
.grid__color {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;
    }
.grid__desc {
    padding: 60px 0 $mobile-padding $mobile-padding;

    h3, p {
        opacity: 0;
        transition: transform $fast-duration $ease,
                    opacity $fast-duration $ease;
    }

    h3 {
        @include font-family-bold();
        transform: translate3d( 0, $padding-1, 0 );
    }

    p {
        margin-top: 10px;
        max-width: 320px;
        transform: translate3d( 0, $padding-1 * 2, 0 );
        width: 100%;
    }
}
.grid__cta {
    opacity: 0;
    transform: translate3d( 0, $padding-1 * 3, 0 );
    z-index: 2;
    }


/******************************************************************************
 * Homepage/What We Do — Client touts elements
*******************************************************************************/
.touts {
    margin: 0 (-$padding-1 / 4);
    }
.touts__item {
    padding: $padding-1 ($padding-1 / 4) 0 ($padding-1 / 4);
    width: 20%;

    @include respond( $mobile-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint-small ) {
        width: 100%;
    }
}
.touts__media {
    align-items: center;
    display: flex;
    height: 100px;
    }
.touts__image {
    max-width: 100%;
    }


/******************************************************************************
 * Module — Medium posts
*******************************************************************************/
.posts {
    margin: 0 (-$padding-1 / 3);

    @include respond( $mobile-breakpoint ) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
    }
}
.posts__item {
    padding: 0 ($padding-1 / 3);
    width: 25%;

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint ) {
        padding: 0 $mobile-padding;
        width: 100%;
    }
}
.posts__title {
    display: block;
    padding-bottom: 20px;
    }
.posts__meta {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;
    }
.posts__mmeta {}
.posts__avatar {
    border-radius: $posts-avatar-width;
    height: $posts-avatar-width;
    width: $posts-avatar-width;
    }
.posts__author {
    padding: 0 10px;
    flex-grow: 1;
    // max-width: #{"~\"calc( 100% - #{$posts-avatar-width} - #{$posts-avatar-width} )\""};

    span {
        background-color: $grey;
        border-radius: 2px;
        height: 2px;
        margin: 0 4px;
        width: 2px;
        }
}
.posts__platform {}


/******************************************************************************
 * Kit of Parts
*******************************************************************************/
.kop {
    .sqs-block-html,
    .sqs-block-code,
    .sqs-block-quote {
        .sqs-block-content {
            padding-left: $padding-1;
            padding-right: $padding-1;
        }
    }
    .sqs-block-spacer {
        background-color: $red4;
        height: 1px;
        margin: $expander-1 0;
        }
}


/******************************************************************************
 * Module — Animated underline
*******************************************************************************/
.module-linker {
    a {
        position: relative;

        &:after {
            background-color: $red4;
            content: "";
            display: block;
            height: 2px;
            margin-top: 30px;
            transition: width $fast-duration $ease;
            width: 100px;
        }
    }
}


/******************************************************************************
 * Module — Animated text hover
*******************************************************************************/
.hover-text {
    h1 {
        cursor: pointer;
        }
}
.hover-text__wrap {
    position: relative;

    &:before {
        // background-color: blue;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        }
}
.hover-text__static {
    pointer-events: none;
    position: relative;
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    }
.hover-text__hover {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    }


/******************************************************************************
 * Social links — Navi and Footer
*******************************************************************************/
.social {}
.social__li {
    & + .social__li {
        margin-left: $padding-1;
        }
}
.social__a {
    text-transform: capitalize;
    transition: color $fast-duration $ease;
    }


/******************************************************************************
 * Module — Instagram posts
*******************************************************************************/
.instagram {
    padding: 60px 0 0;
    }
.instagram__post {
    cursor: inherit;
    margin-left: 20px;
    width: 24vw;

    @include respond( $mobile-breakpoint ) {
        width: 36vw;
    }
}


/******************************************************************************
 * Module — Greensock Draggable
*******************************************************************************/
.drag {
    cursor: -webkit-grab;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    }
.drag__node {
    cursor: -webkit-grab;
    display: inline-flex;
    position: relative;
    width: auto;

    @include state( "drag", "start" ) {
        cursor: -webkit-grabbing;
    }
}


/******************************************************************************
 * Module — Title lockup like on Job details
*******************************************************************************/
.mastline {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .p,
    .h2 {
        line-height: 1;
        }
}
.mastline__line {
    background-color: $red4;
    flex-grow: 1;
    height: 2px;
    margin: 0 ($padding-1 / 2);
    }
