/******************************************************************************
 * Page elements
*******************************************************************************/
.page {
    position: relative;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    @include state( "navi", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-navi ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }

    @include state( "contact", "open" ) {
        transform: translate3d( 50vw, 0, 0 );

        @include respond( $mobile-breakpoint-navi ) {
            transform: translate3d( #{"~\"calc( 100vw - 65px )\""}, 0, 0 );
        }
    }

    @include state( "page", "controller" ) {
        opacity: 0;
        pointer-events: none;
    }
}
.page__wrap {
    &[data-uid="what-we-do"],
    &[data-uid="who-we-are"] {
        @include respond( $mobile-breakpoint ) {
            padding-top: $header-mobile-height;
        }
    }
}
.page__scroll {
    bottom: 0;
    left: $padding-1 * 2;
    pointer-events: none;
    position: fixed;
    transform: translate3d( 0, 100%, 0 );
    transition: transform ($base-duration / 2) $ease;

    @include state( "page", "scroll" ) {
        transform: translate3d( 0, 0, 0 );
    }

    @include state( "navi", "open" ) {
        transform: translate3d( 0, 100%, 0 );
    }

    // @include respond( $mobile-breakpoint ) {
    //     display: none;
    // }
}
.page__scroll__text {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate( 90deg ) translate3d( 100px, -2px, 0 );
    transform-origin: left;
    transition: transform $base-duration $ease;

    @include state( "page", "scroll" ) {
        transform: rotate( 90deg ) translate3d( 0, -2px, 0 );
    }

    @include state( "navi", "open" ) {
        transform: rotate( 90deg ) translate3d( 100px, -2px, 0 );
    }
}
.page__scroll__line {
    background-color: $red4;
    height: 200px;
    transform: translate3d( 0, 280px, 0 );
    transition: transform ($base-duration + ($base-duration / 3)) $ease;
    width: 2px;

    @include state( "page", "scroll" ) {
        transform: translate3d( 0, 80px, 0 );
    }

    @include state( "navi", "open" ) {
        transform: translate3d( 0, 280px, 0 );
    }
}
.page__zone {
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;

    @include respond( $tablet-breakpoint ) {
        display: none;
    }

    &.is-animated {
        .page__zone__num {
            transform: rotate( 90deg ) translate3d( -65%, 0, 0 );
        }
        .page__zone__label {
            transform: rotate( 90deg ) translate3d( -75%, 0, 0 );
        }
        .page__zone__line {
            &:after {
                transform: translate3d( 0, 0, 0 );
            }
        }
    }
}
.page__zone__num,
.page__zone__label {
    background-color: $white;
    opacity: 1;
    padding: 5px 20px;
    transform-origin: left;
    transition-duration: $base-duration * 2;
    z-index: 1;
}
.page__zone__num {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate( 90deg ) translate3d( 0, 0, 0 );
}
.page__zone__line {
    height: 100%;
    overflow: hidden;
    position: absolute;
    transform: translate3d( -100%, 0, 0 );
    top: 0;
    width: 1px;

    &:after {
        background-color: $grey2;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform ($base-duration * 2) $ease ($base-duration / 2);
        transform: translate3d( 0, 50%, 0 );
        width: 100%;
    }
}
.page__zone__label {
    bottom: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    transform: rotate( 90deg ) translate3d( 0, 0, 0 );
}
.page__modules {
    @include respond( $mobile-breakpoint ) {
        padding-left: 0;
        padding-right: 0;
    }

    > .-wrap.-expt {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }
    }
}
.page__wework {
    position: relative;
    z-index: 2;
    }
.page__awards {
    overflow: hidden;
    z-index: 1;
    }
.page__button {
    padding-top: $padding-1 * 2;

    @include respond( $break-tablet-medium ) {
        padding-top: 18vw;
    }
}
.page__related {
    text-align: center;
}
.page__casestudy {
    @include respond( $break-tablet-medium ) {
        display: none;
    }
}
.page__quote {
    .-exp {
        @include respond( $mobile-breakpoint ) {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    .-wrap {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.page__intro {
    & + .page__details {
        @include respond( $mobile-breakpoint ) {
            padding-top: 0;
        }
    }
}
.page__intro__info {
    width: 100%;
    max-width: 720px;

    .sqs-block-horizontalrule hr {
        background-color: $grey2;
        color: $grey2;
        margin: 60px 0 30px;
        }
}
.page__stats {
    .page__stats__btn {
        display: none;

        @include respond( $mobile-breakpoint-navi ) {
            display: block;
        }
    }

    &.is-hit {
        .page__stats__btn {
            @include respond( $mobile-breakpoint-navi ) {
                display: none;
            }
        }
    }
}



// 404
.pagenojs,
.pagenotfound {
    .sqs-block-html p,
    .sqs-block-horizontalrule {
        max-width: $mobile-breakpoint;
    }
}
