.page {
    position: relative;
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;

    @include state( "navi", "open" ) {
        transform: translate3d( 50vw, 0, 0 );
    }

    @include state( "contact", "open" ) {
        transform: translate3d( 50vw, 0, 0 );
    }

    @include state( "page", "controller" ) {
        opacity: 0;
        pointer-events: none;
    }

    @include state( "who-we-are", "page" ) {
        padding-top: 0;
    }
}
.page__scroll {
    bottom: 0;
    left: $padding-1 * 2;
    position: absolute;
    transform: translateY( 40px );
    }
.page__scroll__text {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate( 90deg ) translateX( -100% ) translateY( 100% );
    }
.page__scroll__line {
    background-color: $red4;
    height: 200px;
    width: 2px;
    }
#module-home-about-headline,
#page-careers-cta-text-blocks {
    padding-right: 16vw;
    }
#module-home-about-button {
    .btn {
        @include btn-alt();
        }
}
#module-home-quote {
    padding-bottom: $padding-1;
    }

.jobsboard {}
.jobsboard__all,
.jobsboard__one {
    visibility: hidden;

    &.is-active {
        visibility: visible;
        }
    &.is-inactive {
        display: none;
        }
    }
.jobs {}
.jobs__post {
    border-top: 1px solid $black3;
    padding: 4vw 0;
    }
.jobs_1,
.jobs_2 {
    position: relative;

    &:before {
        content: "1.";
        display: inline-block;
        left: 0;
        padding-right: 2vw;
        position: absolute;
        top: 0;
        transform: translateX( -3vw );
    }
}
.jobs_2 {
    &:before {
        content: "2.";
    }
}

.touts {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -($padding-1 / 4);
    }
.touts__item {
    padding: $padding-1 ($padding-1 / 4) 0 ($padding-1 / 4);
    width: 20%;

    @include respond( $mobile-breakpoint ) {
        width: 50%;
    }
}
.touts__media {
    align-items: center;
    display: flex;
    height: 100px;
    }
.touts__image {
    max-width: 100%;
    }


.posts {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -($padding-1 / 3);
    }
.posts__item {
    padding: 0 ($padding-1 / 3);
    width: 25%;

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}
.posts__title {
    border-top: 1px solid $grey2;
    display: block;
    padding-bottom: 20px;
    padding-top: 30px;
    }
.posts__avatar {
    border-radius: $posts-avatar-width;
    height: $posts-avatar-width;
    width: $posts-avatar-width;
    }
.posts__author {
    padding: 0 10px;
    max-width: #{"~\"calc( 100% - #{$posts-avatar-width} - #{$posts-avatar-width} )\""};

    span {
        background-color: $grey;
        border-radius: 2px;
        height: 2px;
        margin: 0 4px;
        width: 2px;
        }
}
.posts__platform {
    height: $posts-avatar-width;
    width: $posts-avatar-width;
    }
.posts__meta {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 30px;
    }
.posts__mmeta {}

.kop {
    .sqs-block-html,
    .sqs-block-code,
    .sqs-block-quote {
        .sqs-block-content {
            padding-left: $padding-1;
            padding-right: $padding-1;
        }
    }
    .sqs-block-spacer {
        background-color: $red4;
        height: 1px;
        margin: $expander-1 0;
        }
}

.module-linker {
    a {
        position: relative;

        &:after {
            background-color: $red4;
            content: "";
            display: block;
            height: 2px;
            margin-top: 30px;
            transition: width $fast-duration $ease;
            width: 100px;
        }
    }
}

.hover-text {
    h1 {
        cursor: pointer;
        }
}
.hover-text__wrap {
    position: relative;

    &:before {
        // background-color: blue;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        }
}
.hover-text__static {
    pointer-events: none;
    position: relative;
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    }
.hover-text__hover {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    }

.social {}
.social__li {
    & + .social__li {
        margin-left: $padding-1;
        }
}
.social__a {
    text-transform: capitalize;
    }

.instagram {
    padding: 60px 0 0;
    }
.instagram__post {
    cursor: inherit;
    margin-left: 20px;
    width: 24vw;
}

.drag {
    cursor: -webkit-grab;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    }
.drag__node {
    cursor: -webkit-grab;
    display: inline-flex;
    position: relative;
    width: auto;

    @include state( "drag", "start" ) {
        cursor: -webkit-grabbing;
    }
}
