.svg {
    transition: fill $fast-duration $ease;
    }
.svg--logo {
    fill: $red;
    height: $logo-height;

    @include state( "cover", "view" ) {
        fill: $white;
    }
}
.svg--medium-logo {
    fill: $grey2;
    height: $posts-avatar-width;
    width: $posts-avatar-width;
    }
