.-svg {
    pointer-events: none;
    transition: fill $base-duration $ease;
    }
.-svg--logo {
    fill: $red;
    height: $logo-height;

    @include state( "cover", "view" ) {
        fill: $white;
    }

    @include respond( $mobile-breakpoint ) {
        height: 40px;
    }
}
.-svg--medium-logo {
    fill: $grey2;
    height: $posts-avatar-width;
    width: $posts-avatar-width;
    }
