.-svg {
    pointer-events: none;
    transition: fill $base-duration $ease;
    }
.-svg--logo {
    fill: $red;

    @include state( "cover", "view" ) {
        fill: $white;
    }

    @include respond( $mobile-breakpoint ) {
        @include state( "cover", "view" ) {
            fill: $red;
        }

        @include state( "cover", "view--splash" ) {
            fill: $white;
        }
    }
}
.-svg--medium-logo {
    fill: $grey2;
    height: $posts-avatar-width;
    width: $posts-avatar-width;
    }
