/******************************************************************************
 * Fonts
*******************************************************************************/
// $font-family-regular: "ClearSans-Regular";
// $font-family-medium: "ClearSans-Medium";
// $font-family-bold: "ClearSans-Bold";
// $font-family-light: "ClearSans-Light";
// $font-family-thin: "ClearSans-Thin";
$font-family-regular: "TTNorms-Regular";
$font-family-medium: "TTNorms-Medium";
$font-family-bold: "TTNorms-Bold";
$font-family-light: "TTNorms-Light";
$font-family-thin: "TTNorms-Thin";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #010b0d;
$black2: #1d1d1d;
$black3: #121212;
$white: #fff;
$grey: #4c4c4c;
$grey2: #cfcecd;
$grey3: #f5f5f5;
$red: #d94242;
$red2: #8c1624;
$red3: #971c27;
$red4: #bb3444;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$padding-1: 6vw;
$expander-1: 9vw;
$expander-2: 18vw;



/******************************************************************************
 * Sizes
*******************************************************************************/
$logo-height: 60px;
$header-padding: 40px;
$header-mobile-height: 75px;
$page-padding: 110px;
$page-padding-2: #{"~\"calc( #{$page-padding} + 3vw )\""};
$posts-avatar-width: 45px;
$mobile-padding: 20px;
$meta-bump: 20px;




/******************************************************************************
 * Typography
*******************************************************************************/
$m-size: 10px;
$m-size-2: #{"~\"calc( #{$m-size} + 0.16vw )\""};
$m-size-3: 14px;
$m-line: 1.7142857143;
$m-kern: 0.4px;
$p-size: 14px;
$p-size-2: #{"~\"calc( #{$p-size} + 0.209vw )\""};
$p-size-3: 18px;
$p-line: 1.5555555556;
$h1-size-static: 64px;
$h1-size: 38px;
$h1-size-2: #{"~\"calc( #{$h1-size} + 2.125vw )\""};
$h1-size-3: 92px;
$h1-line: 1;
$h2-size: 32px;
$h2-size-2: #{"~\"calc( #{$h2-size} + 1.67vw )\""};
$h2-size-3: 64px;
$h2-line: 1.21875;
$h2-max-width: 960px;
$h3-size: 27px;
$h3-size-2: #{"~\"calc( #{$h3-size} + 0.26vw )\""};
$h3-size-3: 32px;
$h3-line: 1.125;
$h4-size: 21px;
$h4-size-2: #{"~\"calc( #{$h4-size} + 0.356vw )\""};
$h4-size-3: 28px;
$h4-line: 1.3571428571;
$quo-size: 21px;
$quo-size-2: #{"~\"calc( #{$quo-size} + 1.62vw )\""};
$quo-size-3: 52px;
$quo-quos: 52px;
$quo-quos-2: #{"~\"calc( #{$quo-quos} + 2.29vw )\""};
$quo-quos-3: 96px;
$quo-line: 1.4444444444;
$quo-max-width: 1100px;
$btn-size: 12px;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;

$tablet-breakpoint: $break-tablet-full;
$tablet-breakpoint-small: $break-tablet-medium;
$mobile-breakpoint: $break-tablet-small;
$mobile-breakpoint-navi: $break-mobile-full;
$mobile-breakpoint-small: $break-mobile-medium;
$desktop-breakpoint: $break-desktop;



/******************************************************************************
 * Animations
*******************************************************************************/
// $ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$ease: cubic-bezier( 0.475, 0.425, 0, 0.995 );
// $slow-duration: 800ms;
// $long-duration: 600ms;
$base-duration: 350ms;
$fast-duration: 175ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_menu: 1000;
$z_layer_screen: 1001;
$z_layer_header: 1002;
$z_layer_intro: 1003;
